{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/personalInfo.css" %}">
    {% block title %}
        <title>Tunisian Top Gs | personal info</title>
    {% endblock title %}
{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}

{% block main %}
    <!-- main content -->
    <main>
      <section class="personal-information-section">
        <span class="h1-text">Personal information</span>

        <div class="flex flex-wrap personal-information-body">
          <div class="flex flex-col info-cards">
            <div class="flex card-item">
              <div class="flex flex-col info-section">
                <span class="p-text">Username</span>
                <span class="p-text secondary-text">Flen el fouleni</span>
              </div>

              <button class="change-btn">Change</button>
            </div>

            <div class="flex card-item">
              <div class="flex flex-col info-section">
                <span class="p-text">E-mail</span>
                <span class="p-text secondary-text">email@email.com</span>
              </div>

              <button class="change-btn">Change</button>
            </div>

            <div class="flex card-item">
              <div class="flex flex-col info-section">
                <span class="p-text">Number</span>
                <span class="p-text secondary-text">+1 415 8394 0340</span>
              </div>

              <button class="change-btn">Change</button>
            </div>

            <div class="flex card-item">
              <div class="flex flex-col info-section">
                <span class="p-text">Bio</span>
                <span class="p-text secondary-text"
                  >Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.</span
                >
              </div>

              <button class="change-btn">Change</button>
            </div>
          </div>

          <div class="flex flex-col flex-center personal-info">
            <div class="profile-pic">
              <img src="{% static "assets/avatar.png" %}" />
            </div>

            <div class="profile-name">
              <span class="h1-text">Adam Azzouz</span>
            </div>

            <div class="flex flex-center profile-icons">
              <button class="icon-btn">
                <img src="{% static "assets/star.png" %}" />
              </button>
              <button class="icon-btn">
                <img src="{% static "assets/bincance.png" %}" />
              </button>
              <button class="icon-btn">
                <img src="{% static "assets/hat.png" %}" />
              </button>
            </div>

            <div class="flex flex-center profile-stats">
              <div class="flex flex-center flex-col stat-item">
                <span class="p-text">Enrolled Courses</span>

                <span class="h1-text">3</span>
              </div>
              <div class="flex flex-center flex-col stat-item">
                <span class="p-text">Points</span>

                <span class="h1-text">643</span>
              </div>
              <div class="flex flex-center flex-col stat-item">
                <span class="p-text">Active since</span>

                <span class="h1-text">07/21</span>
              </div>
            </div>

            <div class="flex flex-col profile-bio">
              <span class="h1-text">Bio</span>
              <span class="p-text"
                >Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.</span
              >
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
{% endblock scripts %}