{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/privateSession.css" %}">
    {% block title %}
        <title>Tunisian Top Gs | Private Session</title>
    {% endblock title %}
{% endblock head %}

{% block main %}
    {% include "components/navbar.html" %}

    <div class='wrapper-conatiner-prvsession'>

        <div class="schedule-container">
            <div class="schedule-header">
                <span>LOOKING TO HAVE A <br> PRIVATE SESSION?</span>
                <div class="session-pictures">
                    <img src="{% static "assets/ttgq.svg" %}" alt="Schedule Image" width="654px" height="288px"/>
                </div>
            </div>
            <div class="schedule-body">
                <div class="schedule-body-left">
                    <span>Schedule Private Session  with Professor : </span>
                    <form id="sessionForm" method="get">
                        <div class="inputs">
                            <div>
                                <div class="input-container">
                                    <label for="name">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="input-container">
                                    <label for="name">Email</label>
                                    {{form.email}}
                                </div>
                            </div>
                            <div>
                                <div class="input-container">
                                    <label for="name">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                <div class="input-container">
                                    <label for="name">Phone Number</label>
                                    {{form.phone}}
                                </div>
                            </div>
                        </div>

                        <div class="TimeSelection">
                            <span>Select Time</span>
                            <div class="TimesAvailable">
                              {% for row in separated_duration_choices %}
                                <div>
                                  {% for value, text in row %}
                                    <div class="checkbox">
                                      <label class="checkbox-wrapper">
                                          <input type="radio" name="SessionTime" value="{{ value }}" class="checkbox-input"/>
                                          <span class="checkbox-tile">
                                              <span class="checkbox-label">{{ text }}</span>
                                          </span>
                                      </label>
                                    </div>
                                  {% endfor %}
                                </div>
                              {% endfor %}
                          </div>
                        </div>
                        </div>
                        <div class="schedule-body-right">
                            <ul class="tabs">
                                <li class="tab-link current" data-tab="tab-1"></li>
                                <li class="tab-link" data-tab="tab-2"></li>
                                <li class="tab-link" data-tab="tab-3"></li>
                            </ul>
                        
                            <div id="tab-1" class="tab-content current">
                                <span>select the private session mode :</span>
                                <div class="checkbox-group">
                                    {% for choice_value, choice_label in form.session_mode.field.choices %}
                                    <div class="checkbox">
                                        <label class="checkbox-wrapper">
                                            <input type="radio" name="session_mode" value="{{ choice_value }}" class="checkbox-input"/>
                                            <span class="checkbox-tile">
                                                <span class="checkbox-label">{{ choice_label }}</span>
                                            </span>
                                        </label>
                                    </div>
                                {% endfor %}
                                
                                </div>
                                <button type="button" class="next-tab-btn float-right">Confirm</button>
                            </div>
                            <div id="tab-2" class="tab-content">
                                <span>select your professor :</span>
                                <div class="checkbox-group">
                                
                                    {% for prof_id, prof_name in professor_choices_list %}
                                        <div class="checkbox slide-in-left">
                                            <label class="checkbox-wrapper">
                                                <input type="radio" name="selected_professor" value="{{ prof_id }}" class="checkbox-input"/>
                                                <span class="checkbox-tile">
                                                    <span class="checkbox-label">
                                                        <div class="professor">
                                                            <img src="{% static "assets/Professor1.svg" %}" alt="Professor Img" />
                                                            <span>{{ prof_name }}</span>
                                                        </div>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="button-group">
                                    <button class="back-tab-btn">
                                        <i data-lucide="chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="next-tab-btn">Continue</button>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-content">
                                <span>Choose your perfect day :</span>
                                <div class="calendar-container">
                                    <div class="calendar"></div>
                                    <form id="selectedDateForm" style="display: none;">
                                        <input type="hidden" id="selectedDateInput" name="selected_date">
                                    </form>
                                </div>
                                <div class="button-group">
                                    <button class="back-tab-btn">
                                        <i data-lucide="chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="submit" class="next-tab-btn submit">Continue</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <!--   =========================================================-->
    <!--  Pop Up's -->
    <!--   =========================================================-->
    <div id="popupMessage" class="popup-message">
        <div class="img-info">
            <i data-lucide="info"></i>
        </div>
        <span id="popupSpan" class="span-popup"></span>
        <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
    </div>
<!--   =========================================================-->

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
    <script src="{% static "js/privateSession.js" %}"></script>
{% endblock scripts %}