{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/privateSessionScheduleDone.css" %}">
{% endblock head %}

{% block main %}
{% include "components/navbar.html" %}

<div class="wrapper-allcontainer-done">
    <div class="schedule-container">
      <div class="schedule-header">
        <span>LOOKING TO HAVE A <br> PRIVATE SESSION?</span>
        <div class="img">
          <img src="{% static "assets/ttgq.svg" %}" alt="" />
        </div>
      </div>
      <div class="schedule-body done-body">
        <div class="schedule-body-left">
          <img src="{% static "assets/done.svg" %}" alt="Schedule Done" class="jello-horizontal"/>
      </div>
      <div class="schedule-body-right">
        <div class="done-container">
          <span>Thank you for expressing interest in a private session</span>
          <span>We're excited to connect with you! Expect a follow-up from us in 3 to 5 business days. Thanks for reaching out!</span>

          <a class="next-tab-btn" href="#" >Go Back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script src="{% static "js/privateSessionScheduleDone.js" %}"></script>
{% endblock scripts %}