{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/settingsResetPassword.css" %}">

{% block title %}<title>Reset Password</title>{% endblock title %}

{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}

{% endblock header %}

{% block main %}

    <div class="main">
      <div class="form">
        <div class="form-header">
          <span class="h1-text">Login & Security</span>
          <span class="p-text"
            >Updating a password using the old password involves changing the
            existing password without additional verification, providing a
            convenient method for users while emphasizing the importance of
            maintaining the security of the old password.</span
          >
        </div>
        <div class="form-body">
          <div class="field">
            <label for="old-password">Old Password</label>
            <input name="old-password" placeholder="Enter your old password" />
          </div>
          <div class="field">
            <label for="new-password">New Password</label>
            <input name="new-password" placeholder="Enter your new password" />
          </div>
          <div class="field">
            <label for="confirm-password">Confirm Password</label>
            <input
              name="confirm-password"
              placeholder="Confirm your password"
            />
          </div>
        </div>
        <button class="confirm-btn">Confirm Password</button>
    </div>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block sctipts %}
{% endblock sctipts %}