:root {
  --body-bg: #201654;
  --body-color: #fff;
  --font: "Poppins", sans-serif;
}



main {

  display: flex;
  justify-content: center;
}

/* reusable classes */

.flex {
  display: flex;
}

.flex-wrap { 
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.info-card{
  display: flex;
}

.personal-information-section {
  width: 1081px;
  height: 100%;
  border: 0.5px solid #ffffff;
  border-radius: 15px;
  background: #4949491f;
  box-shadow: 0px 20px 100px 0px #00000040;
  padding: 50px;
  color: white;
  display: flex;
  gap: 32px;

}

.personal-information-section > .h1-text {
  font-size: 32px;
  font-weight: 700;
}

.personal-information-body {
  flex-direction: column;
}
.personal-information-body > a{
  color: white;
  font-size: large;
  flex-direction: row;
  display: flex;
  gap: 10px;
}
.personal-information-body > a:hover{
  color: lightgrey;
}

.card-item {
  width: 500px;
  height: 100px;
  border-radius: 8px;
  background: #f5f5f526;
  align-items: center;
  justify-content: space-between;
  padding: 0px 22px;
}

.card-item:not(:last-child) {
}

.info-section {
  width: 50%;
}

.p-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.secondary-text {
  font-weight: 400 !important;
  color: #9cb3c9;
  font-size: 16px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.change-btn {
  background-color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  /* font-weight: 600; */
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.change-btn:hover {
  opacity: 0.7;
}

.personal-info {
  flex: 1;
}

.profile-pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
}

.profile-name > .h1-text {
  font-size: 24px;
  font-weight: 700;
}

.icon-btn {
  width: 30px;
  background-color: transparent;
  border: none;
}

.profile-icons {
  gap: 20px;
  width: 100%;
}

.profile-stats {
  width: 100%;
  gap: 10px;
}

.stat-item > .p-text {
  font-size: 12px;
  font-weight: 700;
}

.stat-item > .h1-text {
  font-size: 20px;
  font-weight: 700;
  
}



.profile-bio > .h1-text {
  font-weight: 700;
}

/* media queries */




/* large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1440px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .personal-information-section {
    width: 850px;
    padding: 2rem;
  }

  .card-item {
    width: 400px;
  }
}
/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .personal-information-section {
    flex-direction: column;
    width: 620px;
    padding: 2rem;
  }

  .personal-information-section > .h1-text {
    font-size: 30px;
    font-weight: 700;
  }
  .flex-col{
    width: 100%;
  }
  .card-item{
    width: 100%;
  }
}
/* extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .personal-information-section {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }

  .personal-information-section > .h1-text {
    font-size: 30px;
    font-weight: 700;
  }
  .flex-col{
    width: 100%;
  }
  .card-item{
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 10px 22px;
    gap: 10px;
  }
}
